<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ScheduleDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Программирование\C-sharp\Metrologia\Coursework\ScheduleDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>